# Ignore .ipynb_checkpoints directory in any sub-path
**/*.ipynb_checkpoints/

# Ignore the kube prometheus
kube-prometheus*

# Ignore file ShareGPT_V3_unfiltered_cleaned_split.json in any directory
**/ShareGPT_V3_unfiltered_cleaned_split.json

# Ignore the results directory in the benchmark/vllm_upstream directory
benchmark/vllm_upstream/results/

# Ignore the grafana dashboard files
scripts/monitoring/dashboards/
