kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: benchmark-data-pvc
  namespace: vllm-benchmark
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: azurefile
  resources:
    requests:
      storage: 10Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: benchmark-runner
  namespace: vllm-benchmark
  labels:
    app: benchmark-runner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: benchmark-runner
  template:
    metadata:
      labels:
        app: benchmark-runner
    spec:
      containers:
      - name: benchmark
        image: ghcr.io/surajssd/llm-k8s/vllm-benchmark:0.13.0
        imagePullPolicy: Always
        command: ["/bin/bash"]
        args:
        - -c
        - jupyter notebook
          --allow-root
          --ip 0.0.0.0
          --port 8888
          --no-browser
          --ServerApp.token=""
        ports:
        - containerPort: 8888
        env:
        - name: HF_TOKEN
          valueFrom:
            secretKeyRef:
              name: hf-token-secret
              key: token
        volumeMounts:
        - name: benchmark-data
          mountPath: /root/benchmark-data
      volumes:
      - name: benchmark-data
        persistentVolumeClaim:
          claimName: benchmark-data-pvc
